/* Estilos generales */
body,
html {
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif;
    height: 100%;
    /* Asegura que el body ocupe toda la altura de la pantalla */
}
.container_father{
    display: flex;
    flex-direction: column;
}
.barra-nav {
    background-color: rgb(81, 31, 146);
    color: white;
    width: 100%;
    display: flex;
}

.container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 50% 50%;
    /* Ocupa el 100% del ancho de la pantalla */
    min-height: 100vh;
    /* Ocupa el 100% de la altura de la pantalla */
    background-color: #f0f0f0;
    gap: 5px;
    padding: 10px;
}

.seccion {
    /* Cada sección ocupa el 100% de la altura de la pantalla */
    padding: 20px;
    /* Espaciado interno */
    text-align: center;
    box-sizing: border-box;
    /* Incluye el padding en el ancho total */
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* Centra el contenido verticalmente */
}

.seccion-1 {
    place-items: center;
    border-radius: 5px;
    object-fit: cover;
    background-image: url('./img/mujeres-proramadoras.jpg.jpeg');
    background-size: cover;
    background-position: center;
    color: black;
    text-shadow: 2px 2px 4px white;
}

.seccion-2 {
    place-items: center;
    border-radius: 5px;
    object-fit: cover;
    background-image: url('./img/defirock.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(160, 127, 127);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.seccion-3 {
    place-items: center;
    border-radius: 5px;
    object-fit: cover;
    background-image: url('./img/netlifynew.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(235 255 243);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.seccion-4 {
    place-items: center;
    border-radius: 5px;
    object-fit: cover;
    background-image: url('./img/proywcto2.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(250, 246, 252);;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


img {
    width: fit-content;
    /* La imagen ocupa el 100% del espacio de su celda */
    height: fit-content;
    /* Mantiene la proporción de la imagen */
    border-radius: 18px;
    /* Bordes redondeados */
    object-fit: cover;
    /* Ajusta la imagen para cubrir el espacio sin distorsionarse */
    transition: transform 0.3s ease;
    background-size: cover;
}

button{
    padding: 10px;
    background-color: rgb(81, 31, 146);
    border-radius: 5px;
    border-color: transparent;
    color: white;
    cursor: pointer;
}


@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        /* Una sola columna */
        grid-template-rows: auto;
        /* Las filas se ajustan al contenido */
    }
}