/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(247, 248, 250, 255);
}

.search-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;
}

/* Fondo de ejemplo (puede ser una imagen) */
.banner {
    height: 500px;
    display: flex;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    color: rgb(12, 12, 12);
    clip-path: ellipse(100% 100% at 50% 0%);
    background-image: url("img/portada.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

span,
P,
a,
li {
    color: rgba(193, 200, 218, 255);
}

h2,
h3,
h4 {
    color: rgba(127, 136, 152, 255);
    font-weight: bold;
}

.banner h1 {
    color: #5f5aff;
    font-size: -webkit-xxx-large;
}

.shop-now {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin: 0;
    z-index: 2;
    margin-top: -26px;
    padding-bottom: 10px;
}

.button-show-now {
    padding: 20px;
    border-radius: 40px;
    background-color: white;
}

.button-show-now span {
    padding: 10px;
    font-size: medium;
}

/* Barra de navegación */
.navbar {
    background-color: transparent;
    /* Fondo transparente */
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid;
    border-color: white;
}

.menu {
    height: 25px;
    width: 25px;
}

.constructor {
    font-size: 1.3rem;
    color: white;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-user {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    justify-content: center;
}

.nav-user a {
    text-decoration: none;
    color: white;
}

.nav-user img {
    width: 20px;
    height: 20px;
}

/* Buscador transparente */
.search-container {
    display: flex;
    align-items: center;
}

.search-bar {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    /* Fondo semitransparente */
    outline: none;
    width: 200px;
    transition: width 0.3s;
    color: white;
}

.search-bar::placeholder {
    color: white;
}

.search-bar:focus {
    background-color: transparent;
}

.search-button {
    width: 20px;
    height: 20px;
}

.show-now {
    z-index: 1000;
}

.container-ppal {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-right: 70px;
}

.submenu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 20px;
    padding-bottom: 20px;
}

.submenu-one {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.submenu-two,
.submenu-three,
.submenu-four,
.submenu-five,
.submenu-six {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submenu-two {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.submenu-one h2 {
    font-weight: bold;
}

.submenu-two {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.submenu-seven {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content-products {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.setting-menu {
    margin: 10px;
    width: 300px;
    flex-shrink: 0;
}

.categories {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.title-setting-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
}

.content-category {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.grid-products {
    flex-grow: 1;
    /* Ocupa todo el espacio restante */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
}

.content-img {
    display: flex;
    position: relative;
}

.image-product {
    width: 100%;
    position: relative;
    object-fit: contain;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.circle-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    z-index: 3;
    position: relative;
    margin-top: -25px;
    margin-left: 260px;
    justify-content: center;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.circle-icon img {
    width: 35px;
    height: 35px;
}

.value-product {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
}

.line {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
    height: 1px;
    border-top: 1px solid rgba(193, 200, 218, 255);
}

.name-category {
    display: flex;
    flex: 1;
    font-weight: bold;
}

.number-category {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    font-weight: bold;
}

.line-submenu {
    border-top: 2px solid#dcdcdc;
}

.grid-prices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
    gap: 10px;
}

.filter-prices {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 20px;
}

.container-checkbox {
    display: block;
    position: relative;
    margin-top: 10px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;

    border-radius: 15px;
}

.container-checkbox:hover input~.checkmark {
    background-color: #ccc;
}


.container-checkbox input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkbox input:checked~.checkmark:after {
    display: block;
}

.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container-checkbox p {
    margin-left: 20px;
}

.colors {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.grid-colors {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 20px;
    margin-right: 10px;
    gap: 10px;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.dot.white {
    background-color: white;
}

.dot.grainsboro {
    background-color: rgba(228, 229, 231, 255);
}

.dot.durazno {
    background-color: rgba(234, 226, 190, 255);
}

.dot.yellow {
    display: inline-block;
    background-color: rgba(255, 197, 54, 255);
}

.dot.orange {
    background-color: rgba(250, 103, 31, 255);
}

.dot.green {
    background-color: rgba(43, 203, 73, 255);
}

.dot.gray {
    background-color: rgba(121, 137, 168, 255);
}

.dot.other {
    background-color: rgba(208, 201, 185, 255);
}

.dot.pink {
    background-color: rgba(236, 37, 120, 255);
}

.dot.red {
    background-color: rgba(233, 39, 49, 255);
}

.dot.violet {
    background-color: rgba(130, 58, 249, 255);
}

.dot.brown {
    background-color: rgba(201, 111, 36, 255);
}

.size {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin: 10px;
}

.grid-size {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.grid-size div {
    background-color: #f1f1f1;
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    text-align: center;
    color:rgb(154, 154, 154);
}

.one{
    border-top-left-radius: 10px;
}
.five{
    border-top-right-radius: 10px;
}
.last{
    border-end-start-radius: 10px;
}