.contenedor{
    background-color: rgb(29 32 52);
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100%;
    display:grid;
    padding: 200px;
    font-size: 100%;
    font-family: Arial;
    color: white;
    gap: 15px;
}

*{
    margin:0;
}
.contenedor-conciertos{
    display: grid;
    grid-template-columns:2fr 2fr 2fr;
    grid-template-rows: 50% 50%;
    margin: 10px;

}    
.card{
    height: 300px;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 10px;
    }
.banner{
    padding: 27px;
    display: flex;
    flex-direction: column;
    gap: 30%;
    text-align: center;
    border-radius: 15px;
    background-image: url('./img/banner.jpg');
    background-size: cover;
    background-position: center;
}
.boton{
    text-align: center;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px;
    background-color: yellow;
    margin-bottom: 0; /* Elimina el margen inferior */
    position: relative; /* Añade esto */
    top: -20px; /* Sube el botón 20px */
    
    
}

.textos{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;}

.list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}