/* Estilos generales */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.barra-nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(89, 0, 89);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.my-name {
    display: flex;
    flex: 1;
    justify-content: end;
}

.my-name h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.space {
    display: flex;
    flex: 1;
}

.boton-nav {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: start;
}

.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    color: white;
}

.no_active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    color: gray
}

.container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.quien-soy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3em;
    color: gray;
    padding: 0 10em;
    background-color: #e7f8ff;
}

.quien-soy-img {
    border-radius: 15px;
}

.quien-soy h2 {
    font-size: 4em;
    color: rgba(200, 0, 255, 0.608);
}

.descripcion {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: rgb(200, 0, 255);
}

.descripcion p {
    color: white;
    font-size: 18px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.image-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.avatar {
    border-radius: 50%;
    margin-top: 10px;
    width: 300px;
    height: 300px;
}

.texto1 h2 {
    font-size: 4em;
    color: rgb(200, 0, 255);
    margin-bottom: 5px;
}

.texto1 {
    text-wrap: balance;
    text-align: justify;
    margin-bottom: 10px;
    font-size: 1.3em;
}

button {
    padding: 10px;
    background-color: rgb(200, 0, 255);
    border-radius: 5px;
    border-color: transparent;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.mis-proyectos {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 30px;
    flex-direction: column;
    text-align: center;
    color: #696565;
    padding: 10px;
}

.img-proyecto {
    width: 100%;
    height: 244px;
    object-fit: cover;
    justify-content: center;
    border-radius: 5px;
}

.proyectos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    gap: 10px;
}

.proyecto-1,
.proyecto-2,
.proyecto-3,
.proyecto-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px;
    border-radius: 10px;
    border-color: rgb(230, 230, 230);
    text-wrap: balance;
    align-items: center;
    font-size: 15px;
}

.footer {
    display: flex;
    padding: 7px;
    justify-content: right;
    color: #696565;
}

header {
    width: 100%;
}

/* Responsive */
@media( max-width: 800px){
    .proyectos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .quien-soy {
        display: flex;
        flex-direction: column;
        padding: 0 5em;
    }

    .barra-nav {
        display: flex;
        flex-direction: row;
        position: sticky;
        top: 0;
    }

    .my-name {
        justify-content: start;
        flex: 1;
    }

    .space {
        display: none;
    }

    .boton-nav {
        justify-content: flex-end;
        flex: 1;
    }

    .active,
    .no_active {
        padding: 10px 5px;
        font-size: 14px;
    }

    .proyectos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .barra-nav {
        flex-direction: row;
    }

    .my-name {
        justify-content: start;
    }

    .space {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .quien-soy {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .proyectos {
        grid-template-columns: repeat(1, 1fr);
    }
    .footer{
        align-items: center;
        justify-content: center;
    }
}